<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "theme": "edgeless",
  "type": "opt-out",
  "content": {
    "message": "J'utilise de cookies pour mesurer l'audience (microscopique) du site.",
    "dismiss": "Ça me va !",
    "deny": "Pas d'accord",
    "link": "Raconte-moi tout",
    "href": "http://ethique.xyz/page/a-propos"
  }
})});
</script>
